body {
  background-image: url("../images/adventure-time-finn-and-jake.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-position-y: 35%;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}


#finnImage {
  width: 260px;
  height: 200px;
  border: 5px solid yellow;
  border-radius: 10px;
  background-image: url("../images/frustratedfinn.gif");
  position: absolute;
  top: 200px;
  left: 100px;
  background-size: cover;
  background-position: center;
  display: none;
}

#jakeImage {
  border: 5px solid yellow;
  border-radius: 10px;
  height: 200px;
  width: 250px;
  background-image: url("../images/sadjake2.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 100px;
  right: 100px;
  background-size: cover;
  background-position: center;
  display: none;
}

#score {
  width: 250px;
  height: 200px;
  font-size: 80px;
  border: 5px solid yellow;
  background-color: black;
  border-radius: 10px;
  color: yellow;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  line-height: 0.8em;
  position: absolute;
  display: none;
  top: 350px;
  right: 100px;
}

#timer {
  width: 250px;
  height: 90px;
  font-size: 100px;
  color: yellow;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  line-height: 0.8em;
  position: absolute;
  top: 450px;
  right: 100px;
  display: none;
  z-index: 1;
}


#happyChoice {
  width: 450px;
  height: 250px;
  color: yellow;
  border: 3px solid yellow;
  border-radius: 20px;
  position: absolute;
  font-size: 23px;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  top: 250px;
  right: 450px;
  display: block;
  background-color: black;
}

#resultDisplay {
  width: 400px;
  height: 300px;
  color: red;
  border: 3px solid red;
  border-radius: 10px;
  position: absolute;
  font-size: 20px;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  top: 250px;
  right: 500px;
  display: none;
  background-size: cover;
  background-position: center;
}


button {
  text-align: center;
  position: absolute;
  top: 500px;
  left:600px;
  color: red;
  background-color: white;
  border: 3px solid red;
  border-radius: 10px;
  display: block;
}


#start {
  display: block;
  margin-top: 20px;
}

#restart {
margin-left: 16px;
margin-top: 45px;
}
